[submodule "GribTripBackend"]
	path = GribTripBackend
	url = https://github.com/Z3f1rka/GribTripBackend
[submodule "GribTripFrontend"]
	path = GribTripFrontend
	url = https://github.com/Z3f1rka/GribTripFrontend
[submodule "GripTripPhotos"]
	path = GripTripPhotos
	url = https://github.com/Z3f1rka/GripTripPhotos
